body {
    background-color: aliceblue;
}

h1 {
    color: brown;
    text-align: center;
}

header {
    border-bottom: 1px solid gray;
}

form {
    background-color: pink;
    padding: 10px;
}

span {
    color: blue;
    font-weight: bold;
}

textarea {
    vertical-align: top;
}

footer {
    background-color: orange;
    border-radius: 10px;
    padding: 3px;
}